HW/.Xil
HW/*.log
HW/*.jou
HW/*.str
HW/modules/sim/*.swp
HW/modules/sim/zf_equalizer/*.swp
HW/modules/src/rtl/*.swp
HW/sims/.Xil
HW/sims/*.swp
HW/sims/*.log
HW/sims/*.jou
HW/sims/*.str
HW/sims/zf_equalizer/zf_equalizer.cache
HW/sims/zf_equalizer/zf_equalizer.gen
HW/sims/zf_equalizer/zf_equalizer.hw
HW/sims/zf_equalizer/zf_equalizer.ip_user_files
HW/sims/zf_equalizer/zf_equalizer.sim
HW/sims/zf_equalizer/zf_equalizer.srcs
HW/sims/zf_equalizer/zf_equalizer.xpr
HW/sims/zf_equalizer/zf_equalizer.xsa
HW/testing/.Xil
